// function(mixin) grid
mixin grid(box)
    .profile-display
        img(src=box.user_image}).img-circle.profile-pic
        small.name #{box.author}
        small.date #{box.date}
    .clear
    if(typeof(box.title) !== 'undefined')
        strong.title #{box.title}
    if(typeof(box.article_image) !== 'undefined')
        .imgholder
            img(src='#{box.article_image[0]}' ,alt="").img-rounded
    else
        .imgholder
            img(src="http://www.inwebson.com/demo/blocksit-js/demo2/images/img23.jpg")
    strongs
    p #{box.content}
    .inputs

        button(type="button", value="#{box.like}").btn.btn-success.like Like #{box.like}
        .btn-group
            //- a(href="#",data-toggle="dropdown").btn.btn-warning.dropdown-toggle.share Share
            button(type="button" ,data-toggle="dropdown" ).btn.btn-warning.dropdown-toggle.share Share
                span.caret
            ul.dropdown-menu
                li
                    a(href="#").facebook-share Facebook
                li
                    a(href="#" ,class="demo g-interactivepost"
    ,data-clientid="856043171652-kd4u05chu43k85d44lkbfeub747gksjj.apps.googleusercontent.com"
    ,data-contenturl="http://footyjokes.herokuapp.com/public" + box.article_image[0]
    ,data-calltoactionlabel="VIEW"
    ,data-calltoactionurl="http://footyjokes.herokuapp.com"
    ,data-cookiepolicy="single_host_origin"
    data-prefilltext=box.content).google-share Google+
                li
                    a(href="http://www.facebook.com") Twitter
        button(type="button").btn.btn-primary.comment Comment
        
        
each box in box_obj
    div(id=box._id).grid
        +grid(box)
